@import "../../../styles/variables";

.category-search {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  h3 {
    border-left: 0.5rem solid $dark-green;
    text-transform: uppercase;
    font-size: $font-size--small;
    padding-left: 1rem;
    letter-spacing: 0.8px;
  }

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    li {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      column-gap: 0.8rem;
      transition: all .2s;

      &:hover {
        color: $dark-green
      }

      .option {
        cursor: pointer;
      }

      .radio-btn {
        display: none;
      }

      .label {
        font-family: "Raleway", sans-serif;;
        font-size: $font-size--xs;

        &:hover {
          color: inherit;
        }
      }
    
      .circle {
        border: 1px solid #ccc;
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 2rem;

        &:hover + .label {
          color: inherit;
        }
      }

      

      .active {
        border-color: $dark-green;
        background-color: $dark-green;
      }
    }
  }
  

  // background-color: aliceblue;
}