@import "../../styles/variables";
@import "../../styles/mixins";

.undo {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  border: 1px solid $border-gray;
  padding: 1rem;
  margin-bottom: 3rem;

  @include respond(screen-400) {
    flex-direction: row;
    justify-content: space-between;
  }

  @include respond(screen-1024) {
    width: 95%;
    margin: 0 auto 3rem auto;
  }

  .description {
    display: flex;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
      svg {
        path { color: $darker-gray; }
      }
    }

    .text {
      font-size: $font-size--xs;
      color: $darker-gray;
    }
  }

  button {
    font-weight: $font-weight--medium;
  }
}

.empty-cart {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  
  @include respond(screen-1024) {
    width: 95%;
    margin: 0 auto;
  }

  .box {
    border: 1px solid $faded-purple;
    padding: 1rem;
    display: flex;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;

      svg {
        width: 2rem;
        height: 2rem;
  
        path {
          color: $faded-purple;
        }
      }
    }

    .text {
      font-size: $font-size--2xs;
      color: $darker-gray;
      margin-left: 0.5rem;
      display: flex;
      align-items: center;
      text-transform: uppercase;
    }
  }

  a {
    width: 18rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .container {
      display: flex;
      flex-direction: row;
      // margin: 0 auto;
    }

    .icon {
      width: 1.8rem;
      display: flex;
      align-items: center;
      margin-right: 0.3rem;

      svg {
        path { color: $white; }
      }
    }

    .label {
      font-weight: $font-weight--semi-bold;
      font-size: $font-size--2xs;
      display: flex;
      align-items: center;
    }
  }
}
