

.cart-items {
  .row {
    // display: grid;
    // grid-template-columns: 0.3fr 1fr 3fr 1fr 1.5fr 1fr;
    display: flex;
    flex-direction: row;

    .quantity {
      display: flex;
    }

    .product-link:hover {
      color: green;
    }

    .image-container {
      position: relative;
      // padding-top: 7rem;
      min-height: 7rem;
      max-height: 7rem;
      min-width: 7rem;
      max-width: 7rem;
    }

    .image {
      object-fit: contain;
      width: auto;
      min-height: 100%;
      min-width: 100%;
      max-width: 100%;  
      max-width: none;
    }
  }
}