@import "../../../styles/variables";
@import "../../../styles/mixins";

.view-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  border-top: 1px solid $border-gray;
  border-bottom: 1px solid $border-gray;
  padding: 1rem 0 2rem 0;

  flex-direction: column;

  @include respond(screen-600) {
    justify-content: space-between;
    flex-direction: row;
  }

  .view-style {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;

    @include respond(screen-400) {
      flex-direction: row;
      column-gap: 2rem;
    }

    @include respond(screen-600) {
      margin-bottom: initial;
    }

    .product-display-type {
      display: flex;
      column-gap: 1rem;
      
      .detail-level {
        border: 1px solid $border-gray;
        padding: 0.8rem;
        transition: all .2s;

        &:hover {
          cursor: pointer;
          border: 1px solid $dark-green;

          .icon {
            filter: invert(30%) sepia(60%) saturate(2174%) hue-rotate(155deg)
            brightness(86%) contrast(101%);
          }
        }
      }

      .icon { // gray
        filter: invert(83%) sepia(1%) saturate(0%) hue-rotate(67deg) brightness(98%) contrast(93%);
      }

      .selected {
        // background-color: orange;
        border: 1.5px solid $dark-green;
        transition: all .2s;

        &:hover {
          border: 1.5px solid $dark-green !important;
        }

        .icon { // green
          transition: all .2s;
          filter: invert(30%) sepia(60%) saturate(2174%) hue-rotate(155deg)
          brightness(86%) contrast(101%);
        }
      }
    }
  }

  .sort-type {
    form {
      // width: 25rem;
      position: relative;
      

      // .border {
      //   height: 100%;
      //   border-right: 1px solid black;
      //   z-index: 99;
      //   position: absolute;
      //   right: 2.5rem;
      // }

      select {
        cursor: pointer;
        width: 25rem;
        padding: 0.95rem;
        // padding-right: 2rem;
        font-size: $font-size--xs;
        outline: none;
        border: 1px solid $border-gray;
        color: $black;

        option {
          font-size: inherit;
        }
      }
    }
  }
}

.result-control-count {
  ul {
    display: flex;
    flex-direction: row;
    

    li {
      color: $black-fade-2;

      &:first-child {
        // font-size: $font-size--small;
        margin-right: 0.5rem;
        text-transform: uppercase;
        color: $black-fade;
      }

      &:not(:first-child):not(:last-child)::after {
        content: "/";
      }

      span {
        color: inherit;
        font-size: $font-size--2xs;

        &:last-child {
          text-transform: uppercase;
        }

        &:hover {
          cursor: pointer;
        }
      }

      // transfer this code to typography css file
      .selected {
        color: $black-fade;
      } 
    } 
  }
}