.view-controls {
  display: flex;
  justify-content: space-between;

  .view-style {
    display: flex;
    flex-direction: row;

    .product-display-type {
      display: flex;
      
      .detail-level {
        border: 1px solid black;
        padding: 0.5rem;

        &:hover {
          cursor: pointer;
        }
      }

      .selected {
        background-color: orange;
      }
    }
  }
}

.result-control-count {
  ul {
    display: flex;
    flex-direction: row;

    li {
      &:not(:first-child):not(:last-child)::after {
        content: "/";
      }

      span {
        &:hover {
          cursor: pointer;
        }
      }

      // transfer this code to typography css file
      .selected {
        color: red;
      } 
    } 
  }
}