@import "../../../styles/mixins";

.favorites {
  margin: 10rem 0;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  
  @include respond(screen-960) {
    flex-direction: row;
    column-gap: 5rem;
  }
  

  .carousel {
    margin: 0 1rem;
  }

  .side {
    display: flex;
    flex-direction: row;
    position: relative;
    // overflow: hidden;

    .side-text {
      max-width: 70%;
      margin-left: 3rem;

      @include respond(screen-960) {
        margin-left: 0;
      }

      p {
        line-height: 3rem;
        margin: 3rem 0;
      }
    }

    .image-container {
      // position: relative;
      position: absolute;
      z-index: -1;
      top: -15rem;
      display: none;
      right: 0rem;
      overflow: hidden;


      @include respond(screen-480) {
        display: initial;
      }

      // @include respond(screen-960) {
      //   right: 0;
      // }
      
      // @include respond(screen-1024) {
      //   right: 0;
      // }

      div {
        position: relative;
        width: 28rem;
        // height: 120%;
        padding-top: 180%;
        right: -10rem;

        @include respond(screen-480) {
          right: -18rem;
        }

        @include respond(screen-620) {
          right: -11rem;
        }

        @include respond(screen-960) {
          right: -17rem;
        }

        @include respond(screen-1250) {
          right: -12rem;
        }

        .image {
          object-fit: contain;
        }
      }
    }
  }
}