@import "../../styles/variables";
@import "../../styles/mixins";

.cart-totals {
  position: relative;
  display: flex;
  justify-content: right;
  position: relative;
  margin-top: 4rem;
  
  .totals-container {
    text-align: center;
    width: 100%;
    border: 1px solid $border-gray;
    padding-bottom: 2rem;

    @include respond(screen-840) {
      width: 50rem;
    }

    h2 {
      text-align: center;
      border-color: $border-gray;
      background-color: $light-gray;
      padding: 1rem;
      margin: 0;
    }

    .totals-table {
      margin: 2rem;

      table {
        border-spacing: 0;
        width: 100%;
        text-align: left;
  
        .full {
          text-align: center;
        }
  
        td, th {
          border-bottom: 1px solid $border-gray;
        }
  

        th {
          border-right: 1px solid $border-gray;
        }

        th, td {
          margin-left: 1rem;
          margin-right: 1rem;
          padding: 1rem;
        }
  
      }
    }

    button {
      width: 60%; 
      font-weight: $font-weight--medium;
      
    }
  }
}