@import "../../../styles/variables";
@import "../../../styles/mixins";

.product-qv-modal {
  position: fixed;
  background-color: $overlay--dark;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 900;
  vertical-align: baseline;
  overflow-x: hidden;
  overflow-y: auto;
}

.product-qv-container {
  position: absolute;
  width: 100%;
  top: 20vh;
  vertical-align: baseline;

  // &::before {
  //   content: "";
  //   display: inline-block;
  //   height: 100%;
  //   vertical-align: middle;
  // }
}

.product-qv-wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  z-index: 1045;
  margin-bottom: 3rem;
  width: 100%;
  // background-color: red;
}

.product-qv-inner {
  background-color: white;
  z-index: 999;
  display: flex;
  flex-direction: column;
  cursor: initial;
  width: 80%; // adjust this when screen size changes

  position: relative;
  margin: 0 auto;
  vertical-align: baseline;

  animation-duration: 0.4s;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  // I can also use fade instead of scale for a gentler UI effect

  .main {
    display: flex;
    pointer-events: initial;
    flex-direction: column;
    // display: grid;
    // grid-template-columns: 5fr 1fr 0.5fr;


    @include respond(screen-1024) {
      column-gap: 2rem;
      flex-direction: row;
    }

    .close {
      // display: flex;
      // justify-content: right;

      .btn--close {
        cursor: pointer;
      }
    }
  }
}

.animate-open {
  animation-name: open;
}

.animate-close {
  animation-name: close;
}

@keyframes open {
  // 0%   {transform: scale(0);}
  // 100% {transform: scale(1);}

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes close {
  // 0%   {transform: scale(1);}
  // 100% {transform: scale(0);}

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}