@import "../../../styles/variables";
@import "../../../styles/mixins";

.hero {
  // z-index: -1;
  // position: relative;
  // background-color: #39bfbf;
  // padding-top: 18.2rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
  background-color: $background-rgba--green;
  background-image: url('/images/teal-blue-pattern-01.png');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 5rem auto;
  text-transform: uppercase;
  position: relative;
  z-index: 1;

  .overlay {
    background-color: $overlay--light;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
  }
  

  .hero--upper {
    // position: relative;
    width: 100%;
    // pad    ding-top: 100%;
    // background-color: blueviolet;
  }

  .image--main-container {
    // position: relative;
    // max-width: 95rem;
    // max-height: 65rem;
    // width: 85rem;
    // height: 65rem;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    z-index: 1;
    // top: -44rem;

    .image--container { // both Exclamation and PBandChoco div
      // z-index: 1;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      // top: 0;
      // top: 18.2rem;
      // object-fit: contain;
      top: -25rem;

      @include respond(screen-700) {
        top: -24rem;
      }

      @include respond(screen-960) {
        top: -30rem;
      }

      @include respond(screen-960) {
        top: -30rem;
      }

      @include respond(screen-1200) {
        top: -33rem;
      }

      @include respond(screen-1250) {
        top: -35rem;
      }
    }

    .exclamation {
      // background-color: chartreuse;
      // width: 85%;
      // height: 85%;

      width: 100%;
      height: 100%;

      @include respond(screen-480) {
        width: 85%;
        height: 85%;
      }
    }

    .PBandChoco {
      // top: -47rem;
      // top: -40%   ;
      z-index: 10;
      // back ground-color: bisque;
      // width: 78%;
      // height: 78%;
      width: 100%;
      height: 100%;

      @include respond(screen-480) {
        width: 84%;
        height: 84%;
      }

      @include respond(screen-1250) {
        width: 81%;
        height: 81%;
      }
    }

    .image {
      object-fit: contain;
    }
  }

  .text-container {
    text-align: center;
    z-index: 100;
    margin-top: 8rem;

    @include respond(screen-480) {
      margin-top: 13rem;
    }

    @include respond(screen-620) {
      margin-top: 25rem;
    }

    @include respond(screen-760) {
      margin-top: 30rem;
    }

    @include respond(screen-760) {
      margin-top: 30rem;
    }

    @include respond(screen-960) {
      margin-top: 35rem;
    }

    @include respond(screen-1250  ) {
      margin-top: 35rem;
    }

    h1 {
      color: $white;
      font-size: $font-header--large;
      font-weight: $font-weight--regular;
      display: flex;
      flex-direction: column;
      
      .side {
        color: inherit;
        font-size: 10vw;
        line-height: 3rem;

        @include respond(screen-360) {
          line-height: 4rem;
        }

        @include respond(screen-480) {
          line-height: 5rem;
        }

        @include respond(screen-620) {
          font-size: $font-header--large;
        }
      }

      .highlight {
        color: $white;
        // font-size: 5rem;
        font-size: 15vw;
        // font-weight: $font-weight--extra-bold;
  
        @include respond(screen-620) {
          font-size: $font-header--extra-large;
        }
      }
    }
  
    h3 {
      color: $white;
      font-size: $font-header--extra-small;
      font-weight: $font-weight--medium;
    }

    .btn {
      display: inline-block;
      margin-top: 4rem;
    }

  }
}