@import "../../styles/variables";
@import "../../styles/mixins";

// CartOnPreview
.show-cart-preview:hover {
  animation: show-cart 0.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hide-cart-preview:hover {
  animation: hide-cart 1.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes show-cart {
  0% {
    opacity: 0;
    display: none !important;
  }
  100% {
    opacity: 1;
    display: initial;
  }
}

@keyframes hide-cart {
  0% {
    // opacity: 1;
  }
  100% {
    opacity: 0;
    display: none !important;
  }
}

.call {
  grid-area: call;
}
.logo {
  grid-area: logo;
}
.cart {
  grid-area: cart;
  justify-self: end;
}
.nav {
  grid-area: nav;
}

.header {
  background-color: $white;
  position: fixed;
  width: 100%;
  z-index: 100;
  // max-height: 18.2rem;

  .header-container {
    width: 95%;
    margin: 0 auto;

    @include respond(screen-1024) {
      display: grid;
      // width: 85%;
      padding: 1.5rem 0 1rem 0;
      grid-template-areas:
        "call logo cart"
        "nav nav nav";
      // grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-between  ;
    }

    @include respond(screen-1250) {
      width: 85%;
    }

    @include respond(screen-1366) {
      width: 1250px;
    }
    
  }

  // .logo {
  //   &--regular {
  //     width: 243px;
  //     height: 80px;
  //   }
  // }

  .call {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // text-align: right;
    position: relative;

    &:hover {
      cursor: pointer;
      color: $dark-green;

      .cart-hover {
        visibility: visible;
        opacity: 1;
      }
    }

    .fa-icon {
      position: relative;
      right: -0.3rem;
      vertical-align: middle;
    }

    &-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: right;
    }

    &__count {
      background-color: $dark-green;
      display: inline-block;
      padding: 0.2rem 0.45rem;
      text-align: center;
      vertical-align: middle;
      border-radius: 0.3rem;
    }
  }

  .nav {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    border-top: 0.1rem solid $light-gray;

    ul {
      width: 80%;
      list-style-type: none;
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto;
      grid-template-rows: 4.5rem;
      padding-top: 1rem;
      
      li {

        .link {
          display: block;
          width: 100%;
          height: 100%;
          cursor: pointer;
          // background-color: bisque;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.2s;
  
          &:hover {
            background-color: $light-gray;
            color: $dark-green;
          }
        }
      }
      
    }
  }
}
