@import "../../../styles/variables";

.scroll-to-top-btn {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-color: $dark-gray;
  border: none;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 800;
  cursor: pointer;
  transition: all .2s;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 2rem;
    height: 2rem;

    path { color: $dark-green; }
  }

  &:hover {
    background-color: $dark-green;

    svg {
      path { color: $white; }
    }
  }
}

.hide {
  transition: all .2s;
  opacity: 0 !important;
}