@import "../../../styles/variables";
@import "../../../styles/mixins";

.main-description {
  // position: relative;
  padding: 3rem 2rem 3rem 0;

  .dark-brown {
    color: $dark-brown;
  }

  .light-brown {
    color: $light-brown;
  }

  .gold {
    color: $gold;
  }

  .dark-leaf-green {
    color: $dark-leaf-green;
  }

  .dark-seaweed-green {
    color: $dark-seaweed-green;
  }

  .light-seaweed-green {
    color: $light-seaweed-green;
  }

  .red {
    color: $red;
  }

  .bright-orange {
    color: $bright-orange;
  }

  .regular-orange {
    color: $regular-orange;
  }


  .price-range {
    color: $white;
    font-weight: $font-weight--semi-bold;
    background-color: $dark-green;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 5rem;
    margin-bottom: 2rem;
  }

  .product-name {
    margin-bottom: 2rem;
    line-height: 5rem;
    text-transform: uppercase;

    .first-header,
    .second-header {
      font-size: $font-header--large;
    }
  
    .first-header {
      font-weight: $font-weight--regular;
    }
  
    .second-header {
      font-weight: $font-weight--extra-bold;
    }
  }

  ul {
    list-style-type: disc;
    margin-left: 2rem;
  }

  ol {
    margin-left: 2rem;
  }

  .description--main {
    margin-bottom: 3rem;
    p {
      line-height: 2.8rem;
      margin-bottom: 1rem;
    }
  }

  .sub-description {
    font-size: $font-header--extra-small;
    color: $dark-green;
    line-height: 3rem;
    margin-bottom: 3rem;
    display: block;
  }

  .ul--main {
    margin-top: 2rem;

    ul {
      li {
        margin-bottom: 1rem;
        line-height: 2.8rem;
      }
    }
  }

  .ol--main {
    h3 {
      margin-bottom: 2rem;
    }

    ol {
      margin-bottom: 4rem;

      li {
        margin-bottom: 1rem;
        line-height: 2.8rem;
      }
    }
  }

  .last-description {
    display: block;
    text-transform: uppercase;
    line-height: 2.8rem;
  }

  

  .variations {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem 0 0 0;
    border-top: 1px solid $border-gray;

    @include respond(screen-380) {
      flex-direction: row;
      column-gap: 2rem;
    }

    .size {
      margin: 1rem 0 0 1rem;
      vertical-align: top;
      span {
        text-transform: uppercase;
        font-weight: $font-weight--semi-bold;
      }
    }

    form {
      select {
        padding: 0.5rem;
        background-color: $lighter-gray;
        border-color: #f2f2f2;
        outline: none;
        transition: border .2s;
        border-radius: 1px;
        border: 1px solid #ddd;
        border-width: 1px 1px 3px 1px;
        width: 100%;
        cursor: pointer;

        @include respond(screen-960) {
          width: 120%;
        }

        @include respond(screen-1120) {
          width: 150%;
        }

        @include respond(screen-1250) {
          width: 165%;
        }
      }
    }

    .clear {
      margin-top: 1rem;
      cursor: pointer;
      background-color: $white;
      border: 2px solid $border-gray;
      padding: 0.8rem 1.2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 0.5rem;

      div {
        display: flex;
        width: 1.5rem;
        height: 1.5rem;
        border: 2px solid red;
        align-items: center;
        border-radius: 2rem;
        justify-content: center;
        position: relative;
      }

      .icon {
        display: flex;
        position: absolute;
        color: red;
        align-items: center;
        justify-content: center;
        top: -3px;
        left: 2.5px;
        
        font-size: $font-size--xs;
        font-weight: $font-weight--semi-bold;

      }

      .text {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $font-size--small;
        color: $darker-gray;
      }
    }
  }

  .var-price {
    margin-top: 2.5rem;
    position: relative;
    
    span {
      color: $dark-green;
      border-top: 1px solid $border-gray;
    padding-top: 2rem;
    display: inline-block;
    width: 100%;
    }
  }

  .qty-control-container {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    border-top: 1px solid $border-gray;
    padding: 2rem 0 0 0;

    @include respond(screen-380) {
      flex-direction: row;
      column-gap: 2rem;
    }

    div {
      height: 3.4rem;
      position: relative;
      display: flex;
    }

    .qty-control {
      width: 3.4rem;
      height: 100%;
      border-radius: 0;
      background-color: $white;
      border: 0.5px solid $border-gray;
      text-align: center;
      color: $darker-gray;
    }

    .input {
      outline: none;
      font-size: $font-size--2xs;
    }

    .btn {
      cursor: pointer;
    }
  }

  .category {
    border-top: 1px solid $border-gray;
    border-bottom: 1px solid $border-gray;
    padding: 2.5rem 0;
    font-size: $font-size--xs;

    span {
      font-size: inherit;
    }

    a {
      font-size: inherit;
      color: $darker-gray;
    }
  }
}