@import "../../../styles/mixins";

.product-complete-details {
  .upper {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
  
    &__main {
      display: flex;
      flex-direction: column;
      column-gap: 4rem;

      @include respond(screen-760) {
        flex-direction: row;
        row-gap: 5rem;
      }
    }
  }
}