@import "../../styles/mixins";

.catalog {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 3rem;

  @include respond(screen-1024) {
    flex-direction: row;
    column-gap: 5rem;
  }
  
}