@import './variables';

.btn {
  cursor: pointer;
  border: none;
  color: $white;
  text-transform: uppercase;
  font-size: $font-size--2xs;
  letter-spacing: 0.15rem;
  transition: all .2s;

  span {
    color: $white;
    font-size: $font-size--2xs;
    letter-spacing: 0.15rem;
  }

  &--thick-font {
    font-weight: $font-weight--bold;
  }

  &--small {
    font-size: $font-size--3xs;
  }

  &--disabled {
    cursor: not-allowed !important;
    background-color: $black-fade-2 !important;
  }

  &--large {
    padding: 1.4rem 3.5rem;
  }
  
  &--regular {
    padding: 1rem 2rem;
  }

  &--thick {
    padding: 1.5rem 2rem;
  }

  &--small {
    padding: 1rem 1.5rem;
  }

  &--brown {
    background-color: $dark-brown;
  
    &:hover {
      background-color: $light-brown;
    }
  }

  &--light-brown {
    background-color: $light-brown;
  
    &:hover {
      background-color: $dark-brown;
    }
  }

  &--gray {
    color: $black-fade;
    background-color: $light-gray;

    &:hover {
      color: $black;
      background-color: $dark-gray;
    }
  }

  &--green {
    background-color: $dark-green;
  
    &:hover {
      background-color: $light-green;
    }
  }

  &--featured {
    max-width: 16rem;
  }

  &--rounded {
    border-radius: 10rem;
  }

  &--curved {
    border-radius: 0.3rem;
  }
}

