// $text-header--regular: 3rem;
// $text-header--large: 5rem;
// $text--large: 2rem;
// $text--regular: 1rem;
// $text--small: 0.8rem;

// $gold
// $dark-leaf-green
// $light-seaweed-green
// $dark-seaweed-green
// $red
// $bright-orange
// $regular-orange

@import "./mixins";

// gray - #ccc;
// border-gray - #eaeaea

$black: #333333;
$black-fade: #555555;
$black-fade-2: #999999;
$white: #ffffff;
$border-gray: #eaeaea;
$lighter-gray: #fcfcfc;
$light-gray: #f3f3f3;
$dark-gray: #ebebeb;
$darker-gray: #848282;
$dark-green: #009288;
$light-green: #28B4AA;
$faded-purple: #b1befd;

// $dark-brown: #614219;
$dark-brown: #4e3629;
$light-brown: #814029;
$gold: #c69214;
$dark-leaf-green: #008264;
$dark-seaweed-green: #949300;
$light-seaweed-green: #cfc539;
$red: #902051;
$bright-orange: #e85c00;
$regular-orange: #c95e00;


$font-weight--thin: 100;
$font-weight--extra-light: 200;
$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--semi-bold: 600;
$font-weight--bold: 700;
$font-weight--extra-bold: 800;

$font-header--extra-large: 9.7rem;
$font-header--large: 5rem;
$font-header--regular: 4rem;
$font-header--small: 3.6rem;
$font-header--xs: 2.4rem;
$font-header--extra-small: 2rem;

$font-size--regular: 1.6rem;
$font-size--small: 1.4rem;
$font-size--xs: 1.3rem;
$font-size--2xs: 1.2rem;
$font-size--3xs: 1rem;

// $overlay--dark: rgba(36, 44, 38, 0.504); -- greenish
$overlay--dark: rgba(23, 24, 24, 0.585);
$overlay--light: rgba(255, 255, 255, 0.475);

$background-rgba--green: rgba(0,146,136,0.86);
$background-rgba--brown: rgba(78, 54, 41, 0.751);
