@import "../../../styles/variables";
@import "../../../styles/mixins";

.order-online {
  grid-area: online;
}
.feel-good {
  grid-area: feel;
}

.category {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 5rem;
  position: relative;


  @include respond(screen-800) {
    display: grid;
    grid-template-areas: "online feel";
    grid-template-columns: 1.5fr 2fr;
    column-gap: 7%;
    position: relative;
    top: -5rem;
    z-index: 2;
  }

  @include respond(screen-1250) {
    grid-template-columns: 1.2fr 2fr;
  }

  .order-online {
    position: relative;
    min-height: 44rem;
    z-index: 5;
    top: -2rem;

    @include respond(screen-800) {
      top: 0;
    }

    .image-container {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;

      @include respond(screen-800) {
        height: 65%;
      }

      @include respond(screen-960) {
        height: 70%;
      }

      .overlay {
        width: 100%;
        height: 100%;
        background-color: $overlay--dark;
      }

      .image {
        object-fit: cover;
        position: relative;
        z-index: -1;
      }

      .text-container {
        display: flex;
        text-align: center;
        justify-content: center;

        h2 {
          border-top: 1px solid $white;
          border-bottom: 1px solid $white;
          padding: 5%;
          position: absolute;
          top: 40%;

          @include respond(screen-800) {
            top: 50%;
          }

          span {
            text-align: center;
            margin: 0 auto;
            line-height: 3.5rem;
          }
        }
      }

      &::after {
        content: "";
        opacity: 1;
        z-index: -2;
        display: block;
        width: 99%;
        height: 99%;
        background: none;
        border: 0.3rem solid $dark-brown;
        position: absolute;
        bottom: -1rem;
        right: -1rem;
      }
    }
  }

  .feel-good {
    display: flex;
    flex-direction: column;
    top: -2rem;
    position: relative;

    @include respond(screen-800) {
      top: 0;
    }

    .image-container {
      position: relative;
      width: 100%;
      height: 35rem;
      z-index: 99;

      @include respond(screen-800) {
        top: 0;
        height: 27rem;
      }

      @include respond(screen-900) {
        height: 30rem;
      }

      @include respond(screen-960) {
        height: 35rem;
      }

      .image {
        object-fit: cover;
      }
    }

    .bulk-text-container {
      margin-top: 4rem;

      p {
        padding: 2rem 0;
        line-height: 3rem;
      }
    }

    .icons {
      display: flex;
      flex-direction: row;
      column-gap: 2rem;

      .icon-container {
        border: 0.2rem solid $dark-brown;
        border-radius: 20rem;
        padding: 2rem;

        .icon {
          font-size: 3rem;
        }
      }

      .desc {
        text-align: center;
        margin-top: 1rem;

        span {
          line-height: 0.2em;
        }
      }
    }
  }
}
